.vscode/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
.env
*.env
.DS_Store
.idea/
*.log
node_modules/
dist/
build/
*.egg-info/
*.sqlite3
*.db
*.coverage
*.ipynb_checkpoints/
*.out
*.pdf
*.jpg
*.png
*.zip
*.tar.gz
*.rar
*.7z